* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
}

/*头部*/
.header {
    background: #fff597;
    height: 100px;
}

/*中间*/
.content {
    background: #feb4b5;
    height: 400px;
}

/*中间-左边*/
.content .left {
    background: #ccbbff;
    float: left;
    margin-left: -100%;
    width: 150px;
    min-height: 400px;
    /*position: relative;*/
    /*left: -150px;*/
}

/*中间-中间*/
.content .middle {
    background: skyblue;
    float: left;
    width: 100%;
    min-height: 400px;
}

.inner {
    margin-left: 150px;
    margin-right: 100px;
}

/*中间-右边*/
.content .right {
    background: #fbb073;
    float: left;
    margin-left: -100px;
    width: 100px;
    min-height: 400px;
}

/*底部*/
.footer {
    background: #feca98;
    height: 100px;
}