body, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none outside;
}

.container {
  width: 500px;
  height: 650px;
  position: relative;
  margin: 20px auto;
  perspective: 3560px;
}
.container .angle {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #000;
  border-bottom: 5px solid transparent;
}
.container .box {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  opacity: 0.9;
  animation: rotate 10s infinite ease-in-out;
}
.container .box div {
  display: block;
  position: absolute;
}
.container .box .one {
  background: -webkit-linear-gradient(left, #92c367, white);
  background: -o-linear-gradient(left, #92c367, #fff);
  background: -moz-linear-gradient(left, #92c367, #fff);
}
.container .box .two {
  background: -webkit-linear-gradient(left, #df6c6a, white);
  background: -o-linear-gradient(left, #df6c6a, white);
  background: -moz-linear-gradient(left, #df6c6a, white);
}
.container .box .three {
  background: -webkit-linear-gradient(left, #7c7bb3, white);
  background: -o-linear-gradient(left, #7c7bb3, white);
  background: -moz-linear-gradient(left, #7c7bb3, white);
}
.container .box .four {
  background: -webkit-linear-gradient(left, #d98a2a, white);
  background: -o-linear-gradient(left, #d98a2a, white);
  background: -moz-linear-gradient(left, #d98a2a, white);
}
.container .box .front, .container .box .back, .container .box .back {
  width: 100%;
  height: 100%;
  background: #f1fafa;
  transform: rotateY(0deg) translateZ(100px);
}
.container .box .front .head, .container .box .back .head, .container .box .back .head {
  width: 100%;
  height: 150px;
  background-color: #e60012;
  font-size: 50px;
  line-height: 150px;
  text-align: center;
  color: white;
  position: relative;
}
.container .box .front .content, .container .box .back .content, .container .box .back .content {
  width: 100%;
  height: 120px;
  position: relative;
}
.container .box .front .content .stationbox, .container .box .back .content .stationbox, .container .box .back .content .stationbox {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .box .front .content .stationbox .current, .container .box .back .content .stationbox .current, .container .box .back .content .stationbox .current {
  width: 100%;
  height: 30px;
  float: left;
  position: relative;
}
.container .box .front .content .stationbox .current strong, .container .box .back .content .stationbox .current strong, .container .box .back .content .stationbox .current strong {
  color: #fff;
  font-size: 24px;
  margin: 0 20px;
  text-align: center;
  line-height: 30px;
  float: left;
}
.container .box .front .content .stationbox .current .dir, .container .box .back .content .stationbox .current .dir, .container .box .back .content .stationbox .current .dir {
  width: 250px;
  height: 100%;
  float: left;
  position: relative;
}
.container .box .front .content .stationbox .current .dir .nextstation, .container .box .back .content .stationbox .current .dir .nextstation, .container .box .back .content .stationbox .current .dir .nextstation {
  line-height: 20px;
  height: 20px;
  text-align: center;
}
.container .box .front .content .stationbox .current .dir .angle, .container .box .back .content .stationbox .current .dir .angle, .container .box .back .content .stationbox .current .dir .angle {
  float: left;
  margin-top: -3px;
}
.container .box .front .content .stationbox .current .dir .line, .container .box .back .content .stationbox .current .dir .line, .container .box .back .content .stationbox .current .dir .line {
  border: 1px solid #000;
  width: 235px;
  float: left;
  margin-top: 1px;
}
.container .box .front .content .stationbox .current .time, .container .box .back .content .stationbox .current .time, .container .box .back .content .stationbox .current .time {
  float: left;
  width: 100px;
  font-size: 9px;
  margin-left: 20px;
  text-align: center;
  line-height: 15px;
  position: relative;
}
.container .box .front .content .stationbox .current .time span, .container .box .back .content .stationbox .current .time span, .container .box .back .content .stationbox .current .time span {
  float: left;
}
.container .box .front .content .stationbox .station, .container .box .back .content .stationbox .station, .container .box .back .content .stationbox .station {
  width: 100%;
  margin: auto;
  position: relative;
}
.container .box .front .content .stationbox .station ul, .container .box .back .content .stationbox .station ul, .container .box .back .content .stationbox .station ul {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
}
.container .box .front .content .stationbox .station ul li, .container .box .back .content .stationbox .station ul li, .container .box .back .content .stationbox .station ul li {
  text-align: center;
  float: left;
  font-size: 9px;
  width: 13px;
  margin: 10px 5px;
}
.container .box .front .content .stationbox .station ul .redcolor, .container .box .back .content .stationbox .station ul .redcolor, .container .box .back .content .stationbox .station ul .redcolor {
  color: #e60012;
}
.container .box .back {
  transform: rotateY(180deg) translateZ(100px);
  -webkit-transform: rotateY(180deg) translateZ(100px);
}
.container .box .right, .container .box .left {
  background-color: #6699cc;
  width: 200px;
  height: 650px;
  left: 150px;
  transform: rotateY(90deg) translateZ(250px);
  -webkit-transform: rotateY(90deg) translateZ(250px);
}
.container .box .left {
  transform: rotateY(-90deg) translateZ(250px);
  -webkit-transform: rotateY(-90deg) translateZ(250px);
}
.container .box .top, .container .box .bottom {
  background-color: #e8ffe8;
  width: 500px;
  height: 200px;
  top: 200px;
  transform: rotateX(90deg) translateZ(300px);
  -webkit-transform: rotateX(90deg) translateZ(300px);
}
.container .box .bottom {
  transform: rotateX(-90deg) translateZ(350px);
  -webkit-transform: rotateX(-90deg) translateZ(350px);
}
@keyframes rotate {
  0%,100% {
    -webkit-transform: rotateY(0) translateX(0px);
    transform: rotateY(0) translateX(0px);
  }
  50% {
    -webkit-transform: translateX(0px) rotateY(-180deg);
    transform: translateX(0px) rotateY(-180deg);
  }
}
